<h2> Using Select, Reject, Collect, Inject Iterator </h2>

<p> Following are the values </p>

<p> Using Select </p>
<%= @i %>

<p> Using Reject </p>
<%= @j %>

<p> Using Collect </p>
<%= @k %>

<p> Using Inject </p>
<%= @l %>