<h2> In this Value you Provide will be sent to a Controller Method and then see what happens </h2>
<%= form_tag :action => 'usingSwitchCase' , :controller=>"dailyTask" do %> 
<p><%= text_field 'value', 'title' %></p>
<%= submit_tag "usingSwitchCase" %>
<% end %>